# OS
.DS_Store
._*
.Trashes
Thumbs.db
Desktop.ini

# IDE
.vscode/*
!.vscode/settings.json

# Logs
*.log

# Temporary
*.tmp
*.temp
.cache/

# Python
.venv/
venv/
__pycache__/
*.pyc

# Generated output
generated_invitations/
preview-*.pdf
